.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-body);
}

.mainContent {
    flex: 1;
    margin-left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
}

.pageContent {
    padding: 2rem;
    flex: 1;
    overflow-y: auto;
}